{% extends 'base.html' %}
{% load static %}
{% block head %}{% include 'utils/auth_head.html' %}{% endblock head %}
{% block title %}Team Players{% endblock title %}
{% block body %}

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        {% block aside %}{% include 'utils/aside.html' %}{% endblock aside %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          {% include 'utils/nav.html' %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          
                          <h3 class="card-title text-primary">Manage {{team_name}} Players</h3>
                        </div>      
                      </div> 
                    </div>
                    <div class="container">
                      {% include 'utils/messages.html' %}
                      <div class="row mb-4 justify-content-end">
                        <div class="col-md-4 ml-auto">

                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSamp">Add Player</button>
                          {% comment %} <button type="button" class="btn btn-secondary">Add From File</button> {% endcomment %}
                          {% include 'utils/team_player_modal.html' %}
                        </div>
                      </div>
                        <div class="row mb-5">
                          <div class="col-md-12">
                            {% if players %}
                            <table class="table table-bordered table-striped">
                              <tr>
                                  <th>NAME</th>
                                  <th>IMAGE</th>
                                  <th>AGE</th>
                                  <th>JERSEY NUMBER</th>
                                  <th>POSITION</th>
                                  <th>GOALS</th>
                                  <th>ASSISTS</th>
                                  <th>CAPTAIN</th> 
                                  <th>ACTION</th> 
                              </tr>
                              {% for player in players %}
                                             
                                  <tr>
                                      <td>{{player.name}}</td>
                                      <td><img src="{{player.image.url}}" alt="player's image" width="70" height="70"></td>
                                      <td>{{player.age}}</td>
                                      <td>{{player.jersey_number}}</td>
                                      <td>{{player.position}}</td>
                                      <td>{{player.goals}}</td>
                                      <td>{{player.assists}}</td>
                                      <td>{{player.is_captain}}</td>                                   
                                      <td>

                                        <a href="{% url 'auth:update_player' player.id %}" class="btn btn-warning"><i class="menu-icon tf-icons bx bxs-pencil"></i></a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{forloop.counter}}"><i class="menu-icon tf-icons bx bxs-trash"></i></button>

                                        <div id="delete{{forloop.counter}}" class="modal fade" role="dialog">
                                          <div class="modal-dialog">
                                        
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                  <h4 class="modal-title">Delete Player</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              </div>
                                              <hr/>
                                              <div class="modal-body">
                                                <form action="{% url 'auth:delete_player' player.id %}" method="post">
                                                  {% csrf_token %}
                                                    
                                                    <div class="row mb-3">
                                                    <h5>Are you sure you want to delete {{player.name | title}}? <span class="text-warning">Other data relating to {{player.name | title}} will also be deleted</span></h4>
                                                    </div>
                                                      <input type="hidden" value="{{team_pk}}" name="team_pk">
                                                      <hr/>
                                                      <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger">Submit</button>
                                                      </div>
                                                </form>
                                              </div>
                                            </div>
                                        
                                          </div>
                                        </div>
                                      </td>                                    
                                    </tr>
                                    {% endfor %}
                          </table>
                            {% else %}
                            <div class="col text-center">
                              <h4 class="">No players on this team</h4>
                            </div> 
                            {% endif %}
                          </div>
                        </div>
                        
                      </div>

                  </div>

                  
                </div>
                
                

                </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            {% include 'utils/footer.html' %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

   
    </div>
    <!-- / Layout wrapper -->
    {% include 'utils/scripts.html' %}
   
  
{% endblock body %}