<div id="modalSamp" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Team to Tournament</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <hr/>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="row mb-3">
                {% if form.name.errors %}
                  <div class="alert alert-danger mt-2" role="alert">
                    {{ form.name.errors }}
                  </div>
                {% endif %}
                <label class="col-sm-2 col-form-label" for="basic-default-name">Name</label>
                <div class="col-sm-10">
                    {{form.name}}
                </div>
              </div>
              
              <div class="row mb-3">
                {% if form.team.errors %}
                  <div class="alert alert-danger mt-2" role="alert">
                    {{ form.team.errors }}
                  </div>
                {% endif %}
                <label class="col-sm-2 col-form-label" for="basic-default-name">Team</label>
                <div class="col-sm-10">
                    {{form.team}}
                </div>
              </div>
              
              <div class="row mb-3">
                {% if form.session.errors %}
                  <div class="alert alert-danger mt-2" role="alert">
                    {{ form.session.errors }}
                  </div>
                {% endif %}
                <label class="col-sm-2 col-form-label" for="basic-default-name">session</label>
                <div class="col-sm-10">
                    {{form.session}}
                </div>
              </div>
          
              
                <hr/>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
          </form>
        </div>
      </div>
  
    </div>
  </div>