{% load static %}
{% for today in today_match %}
{% if today.status == "postponed" or today.status == "FT" or today.status == "not_started" %}
<div>
    {% else %}
        <div hx-get="{% url 'scores:index' %}" hx-trigger="every 5s" hx-swap="innerHTML"> 
    {% endif %}
    {% if request.user.is_staff %} 
        <a href=" {% if today.status == "not_started" %}{% url 'auth:update_match' today.id %} {% elif today.status == "FT" %} {% url 'scores:match_summary' today.pk %} {% else %}{% url 'auth:update_match_score' today.id %}{% endif %}"> 
        
        {% else %} 
            <a href="{% url 'scores:match_summary' today.pk %}">
        {% endif %}
    
        <div class="bg-image overlay-success rounded mb-5" style="background-image: url( {% static 'assets/img/backgrounds/bg_3.jpg' %} );"  data-stellar-background-ratio="0.5">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
            
                    <div class="text-center text-lg-left">
                    <div class="d-block d-lg-flex align-items-center">
                        <div class="image mx-auto mb-3 mb-lg-0 mr-lg-3">
                        </div>
                        <div class="text">
                        <h3 class="h5 mb-0 text-black">{{today.fixture.home_team}}</h3>
                        </div>
                    </div>
                    </div>
            
                </div>
                <div class="col-md-12 col-lg-4 text-center mb-4 mb-lg-0">
                    <div class="d-inline-block">
                    <p class="mb-2"><small class="text-uppercase text-black font-weight-bold">{{today.fixture.tournament}}</small></p>
                    <div class="bg-black py-2 px-4 mb-2 text-white d-inline-block rounded"><span class="h3">{{today.home_team_score}}:{{today.away_team_score}}</span></div>
                    <p class="mb-0">
                        <span class="text-uppercase text-black font-weight-bold">
                            {% if today.status == "not_started" %}
                                {{today.fixture.match_date_time.time}}
                            {% elif today.status == 'FT' or today.status == 'HT' %}
                                {{today.status}}
                            {% elif today.status == 'ON' %}
                                <h4><span id="timer" class="text-danger">{{match_time}}'</span></h4>
                            {% endif %}
                        </span>
                    </p>
                    </div>
                </div>
            
                <div class="col-md-12 col-lg-4 text-center text-lg-right">
                    <div class="">
                    <div class="d-block d-lg-flex align-items-center">
            
                        <div class="text order-1">
                        <h3 class="h5 mb-0 text-black">{{today.fixture.away_team}}</h3>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% comment %} {% include 'utils/match_card.html' %}   {% endcomment %}
        </div>
        {% if request.user.is_staff %}</a> {% else %}</a> {% endif %}    
    </div>
{% endfor %}