{% load static %}
{% block scripts %}
    <script src=" {% static 'assets/vendor/libs/jquery/jquery.js' %} "></script>
    <script src=" {% static 'assets/vendor/libs/popper/popper.js' %} "></script>
    <script src=" {% static 'assets/vendor/js/bootstrap.js' %} "></script>
    <script src=" {% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %} "></script>

    <script src=" {% static 'assets/vendor/js/menu.js'%}"></script>
    <script src=" {% static 'assets/js/main.js' %} "></script>
    <script src=" {% static "assets/js/bootstrap.min.js" %}"></script>
    <script src=" {% static "assets/js/htmx.min.js" %}"></script>
{% endblock scripts %}
