<div id="modalSamp" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add Team</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <hr/>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
              <div class="row mb-3">
                {% if form.deptName.errors %}
                  <div class="alert alert-danger mt-2" role="alert">
                    {{ form.deptName.errors }}
                  </div>
                {% endif %}
                <label class="col-sm-2 col-form-label" for="basic-default-name">Department</label>
                <div class="col-sm-10">
                    {{form.deptName}}
                </div>
              </div>
              
              <div class="row mb-3">
                {% if form.coach.errors %}
                  <div class="alert alert-danger mt-2" role="alert">
                    {{ form.coach.errors }}
                  </div>
                {% endif %}
                <label class="col-sm-2 col-form-label" for="basic-default-name">COACH</label>
                <div class="col-sm-10">
                    {{form.coach}}
                </div>
              </div>

              <div class="row mb-3">
                {% if form.tournaments.errors %}
                  <div class="alert alert-danger mt-2" role="alert">
                    {{ form.tournaments.errors }}
                  </div>
                {% endif %}
                <label class="col-sm-2 col-form-label" for="basic-default-name">Tournaments</label>
                <div class="col-sm-10">
                  {% if tournaments %}
                    {{form.tournaments}}
                  {% else %}
                    <h5 style="color:red;">No tournaments</h5>
                </div>
                  {% endif %}
                
                
              </div>


                <hr/>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
          </form>
        </div>
      </div>
  
    </div>
  </div>